@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=VT323');

body{
    background-color: crimson;
}

h2 {
    color: darkblue;
    margin: auto;
}

.headings {
    color: darkblue;
}

.column1 {
    float: left;
    width: 50%;
    font-family: 'Pacifico', cursive;
    font-size: 15px;
}

.row:after {
    content:"";
    display: table;
    clear: both;
}

.column2 {
    float: right;
    width: 50%;
    font-family: 'VT323', monospace;
    font-size: 20px;
}

#title {
    color: black;
    text-align: center;
    font-family: 'Bungee Inline', cursive;
}

ul {
    list-style-type:none
}

.box {
    border: 1px solid yellow;
    margin: 0px 0px 0px 0px;
}

@media (min-width: 376px){
    .box {
        border: 3px solid black;
        margin: 0px;
    }

    #title {
        color: yellow;
        margin: 0px;
    }
}